*.pyc
*.swp
*dput*egg*
.coverage
build/
debian/dput-ng.substvars
debian/dput-ng/
debian/dput.substvars
debian/files
debian/*debhelper*
debian/dput-ng-doc.substvars
debian/dput-ng-doc/
debian/python-dput.substvars
debian/python-dput/
debian/tmp/
