Source: dput-ng
Section: devel
Priority: optional
Maintainer: Arno Töll <arno@debian.org>
Uploaders: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9),
 python-all (>= 2.7~),
 python-setuptools,
 python-coverage,
 python-debian,
 python-nose,
 python-validictory,
 python-paramiko,
 python-sphinx (>= 1.0.7+dfsg),
 asciidoc,
 libxml2-utils,
 docbook-xml,
 xsltproc
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/dputng.git
Vcs-Git: git://git.debian.org/collab-maint/dputng.git
X-Python-Version: >= 2.7

Package: dput-ng
Architecture: all
Multi-Arch: foreign
Breaks: dput
Replaces: dput
Provides: dput
Depends: ${misc:Depends}, ${python:Depends}, python-dput
Description: next generation Debian package upload tool
 dput-ng is a Debian package upload tool which provides an easy to use inter-
 face to Debian (like) package archive hosting facilities. It allows
 anyone who works with Debian packages to upload their work to a remote
 service, including Debian's ftp-master, mentors.debian.net, Launchpad or other
 package hosting facilities for Debian package maintainers.
 .
 dput-ng features many enhancements over dput, such as more comprehensive
 checks, an easy to use plugin system, and code designed to handle the numerous
 archives that any Debian package hacker will interact with.
 .
 dput-ng aims to be backwards compatible with dput in command-line flags,
 configuration files, and expected behavior.

Package: python-dput
Architecture: all
Section: python
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python:Depends},
 python-debian,
 python-paramiko,
 gnupg,
 python-validictory,
Recommends:
 lintian,
 openssh-client,
 debian-keyring
Description: next generation Debian package upload tool (Python library)
 dput-ng is a Debian package upload tool which provides an easy to use inter-
 face to Debian (like) package archive hosting facilities. It allows
 anyone who works with Debian packages to upload their work to a remote
 service, including Debian's ftp-master, mentors.debian.net, Launchpad or other
 package hosting facilities for Debian package maintainers.
 .
 This package provides Python library functions providing core functionality to
 dput-ng and tools building on top of that. This library provides upload
 classes, profile parser, sanity checks and helper functions required to build
 a dput service.

Package: dput-ng-doc
Architecture: all
Section: doc
Multi-Arch: foreign
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: next generation Debian package upload tool (documentation)
 dput-ng is a Debian package upload tool which provides an easy to use inter-
 face to Debian (like) package archive hosting facilities. It allows
 anyone who works with Debian packages to upload their work to a remote
 service, including Debian's ftp-master, mentors.debian.net, Launchpad or other
 package hosting facilities for Debian package maintainers.
 .
 This package provides exhaustive user documentation, developer API docu-
 mentation and command interface documentation.
