Source: dput-ng
Section: devel
Priority: optional
Maintainer: Arno Töll <arno@debian.org>
Uploaders: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9),
 python-all (>= 2.6.6-3~),
 python-setuptools,
 python-coverage,
 python-nose,
 python-argparse | python (>= 2.7~),
 python-paramiko,
 python-debian,
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: dput-ng
Architecture: all
Multi-Arch: foreign
Breaks: dput
Replaces: dput
Provides: dput
Depends: ${misc:Depends}, ${python:Depends}
Description: Debian package upload tool
 dput-ng is a package upload tool, inspired by the original dput project.
 dput aims to allow anyone who works with Debian packages to upload their
 work to a remote service, such as mentors.debian.net, or ftp-master for
 Debian maintainers or Debian Developers.
 .
 dput-ng features many enhancements over dput, such as more comprehensive
 checks, an easy to use plugin system, and code designed to handle the numerous
 archives that any Debian package hacker will interact with.
 .
 dput-ng aims to be backwards compatable with dput in command-line flags,
 configuration files, and expected behavior.
