#!/usr/bin/make -f

MANPAGES := $(patsubst docs/man/%.man, debian/man/%, $(wildcard docs/man/*.man))
VENDOR = $(shell dpkg-vendor --query vendor)

PYTHONS:=$(shell pyversions -vr)
PYTHON3S:=$(shell py3versions -vr)

%:
	dh $@ --with bash-completion,python2,python3,sphinxdoc


override_dh_auto_clean:
	for i in $(PYTHONs) $(PYTHON3S) ; do \
		PYTHON=python$$i python$$i setup.py clean ; \
	done
		
	rm -rvf ./docs/_build ./*.egg-info ./build .coverage
	rm -f $(MANPAGES)
	rm -rf debian/man


override_dh_auto_test:
	# We don't test for all versions, because we don't support all versions.
	# Die, python2.6, die! dput (oldschool) will work fine with 2.6, use that
	# :)
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	for i in $(PYTHONs) $(PYTHON3S) ; do \
		PYTHON=python$$i python$$i -m nose ; \
	done
endif


override_dh_auto_build:
	dh_auto_build
	make -C docs html


override_dh_auto_install:
	PYTHON=python2.7 python2.7 setup.py install --install-layout=deb --root $(CURDIR)/debian/python-dput ; \
	for i in $(PYTHON3S) ; do \
		PYTHON=python$$i python$$i setup.py install --install-layout=deb --root $(CURDIR)/debian/python3-dput ; \
	done
	rm -vf ./debian/python*dput-ng/usr/lib/*/dist-packages/dput*egg-info/SOURCES.txt

override_dh_install:
	dh_install
	debian/bin/adjust-vendor $(VENDOR)


debian/man:
	mkdir $@


$(MANPAGES): debian/man
	a2x --doctype manpage --format manpage -D $(dir $@) \
		$(patsubst debian/man/%, docs/man/%.man, $@)


override_dh_installman: $(MANPAGES)
	dh_installman --language=C


override_dh_installexamples:
	dh_installexamples examples/*

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
